*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    margin:0;
    display: flex;
}


.flex{
    display:flex;
}

.flex-column{
    flex-direction: column;
}

.align-items-center{
    align-items: center;
}

.jc-center{
    justify-content: center;
}

.jc-space-between{
    justify-content: space-between;
}

.container{
    display:flex;
    height:100vh;
    width:100%;
}

/* form */

input{
    padding:10px 20px;
    height:50px;
    border-radius:24px;
    border:none;
    background-color: #eef5f3;
    margin:10px;
}

#login-form{
    width: 100%;
}



#signUp-form span{
    width:100%;
}

#signUp-form span input{
    width:100%;
}

.btn{
    margin:1rem;
    height:50px;
    width:50%;
    border-radius:25px;
   
    border:none;
    
}

#signin-main-btn{
    color:white;
    background-color: #28b498;
}

#signIn-side-btn{
    color:#333;
    background-color: white;
    
}

#signUp-side-btn{
   background-color: white;
   color:#333;
   width:70%;
   height:50px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 30px;
}
.signUp-side-btn:hover{
    cursor: pointer;
}





/* SOCIAL */
.fa-facebook, .fa-linkedin{
    color:#457;
}

.fa-google-plus{
    color:#e54;
}

.social{
    font-size: 2rem;
}

.social i{
    margin:0 10px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:67%;
    height: 100vh;
    position:absolute;
    left:0;
     /* animation-name: slideRight, fade-out;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.47,.36,0,1); */
}

.side{
    justify-content: center;
    width:33%;
    background-color: #28b498;
    height:100vh;
    position:absolute;
    right:0;
    /* animation-name:slideLeft, stretch;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; */
    overflow:hidden;
}

.sidecontainer{
    height:100%;
    width:80%;
    padding:20px;
    text-align:center;
    color:white;
    position:relative;
}

.sidecontainer button{
    position:absolute;
    bottom:25%;
}





.login-main span p:nth-child(1):before, .login-main span p:nth-child(1):after{
    position:absolute;
    content:'';
    height:1px;
    width:200px;
    top:50%;
    background-color:grey;
}

.login-main span p:nth-child(1):before{
    right:30px;
}

.login-main span p:nth-child(1):after{
    left:30px;
}

.d-none{
    display: none;
}

.wrapper{
    width:70%;
    height:100%;
    justify-content: center;
    /* align-items: center; */
}

#cross{
    position:absolute;
    font-size: 2rem;
    right:0;
    top:0;
    z-index:99;
    padding:1rem 1.5rem;
    color:whitesmoke;
    transition:1.5s ease;
}